.sk-c-Bloc3 {
    background-color: white;
    width: 95%;
    margin: 0 auto;
    padding: 0px 0 80px 0;

    &-title {
        font-size: 40px;
        font-weight: 800;
        background: -webkit-linear-gradient(#C20000, #620000);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        margin-bottom: 40px;
    }
}