.sk-c-Slider {

    background-image: linear-gradient(to right top, #c20000, #a90004, #910005, #790003, #620000);
    width: 90%;
    margin: 0 auto;
    border-radius: 30px;
    height: 30%;
    padding: 60px 0px;

    .slick-dots {
        display: flex !important;
        justify-content: center;
        margin-top: 40px;
        list-style-type: none;
        
            li {
                margin: 0 0.8rem;
            }
        
            button {
                display: block;
                width: 0.8rem;
                height: 0.8rem;
                padding: 0;
                
                border: none;
                border-radius: 100%;
                background-color: white;
                
                text-indent: -9999px;
                
                &:hover {
                    cursor: pointer;
                }
            }
        
            li.slick-active button {
                background-color: rgb(83, 0, 0);
                border: 0.6px solid white;
            }
        
    }

    .slick-slide {
        margin: 0 20px;
        
      }

    &-slide {
        
        height: 458px;
        min-width: 296px;
        width: auto;
        background-size: cover;
        border-radius: 36px;
        position: relative;
        overflow: hidden;

        &:hover{
            .sk-c-Slider-slide-overlay {
                opacity: 0.7;
            }

            .sk-c-Slider-slide-mockup {
                transform: scale(1.05) translate(-50%, -50%);
            }
        } 

        &-overlay {
            background: linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,1));
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 1;
            transition: all 0.5s ease;
        }

        &-background {
            width: 100%;
        }
    
        &-projectdesc {
            
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: 0 auto;
            color: white;
            position: absolute;
            left: 50%;
            top: 90%;
            transform: translate(-50%, -90%);

            &-title {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 3%;
            }

            &-desc {
                font-weight: 200;
                font-size: 14px;
            }
                
        }

        &-mockup {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.5s ease;
        }
    
      }



}

@media all and (max-width: 480px) {
    .sk-c-Slider {

        .slick-slide {
            margin: 0 15px;
        }

        &-slide {
            min-width: 250px;
            height: 410px;
        }
    }
}

@media all and (max-width: 380px) {
    .sk-c-Slider {

        &-slide {
            min-width: 230px;
            height: 360px;
        }
    }
}