.sk-c-WorksPopin {
    position: fixed;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background-color: rgba(0,0,0,0.9);
    transition: all 1.4s ease;
    z-index: 30;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;

    &-title {
        position: absolute;
        color: white;
        font-size: 46px;
        top: -6%;
        left: 50%;
        transform: translate(-50%, -13%);
        font-weight: bold;
        opacity: 0,
    }

    &-inside {
        margin: 0 auto;
        padding: 8% 3% 0 3%;
        background: #fff;
        border-radius: 5px;
        width: 80%;
        height: 70%;
        position: relative;
        transition: all 0.5s ease-in-out;

        &-loading{
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            left: 0;
            background-color: black;
            border-radius: 5px;
            z-index: 100;
            background: -webkit-linear-gradient(#C20000, #620000);
            text-align: center;

            p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 20px;
                color: white;
                span{
                    font-weight: bold;
                } 
            }
        }

        &-url {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%);
            font-weight: bold;
            color: #980000;
            font-size: 22px;
        }

        &-content {
            display: flex;
            justify-content: space-around;

            &-left, &-right {
                width: 35%;
                box-shadow: 2px 2px 50px -12px rgba(199,191,199,0.76);
                padding: 2% 2%;

                &-title {
                    font-weight: bold;
                    font-size: 22px;
                    margin-bottom: 10px;
                    color: #980000;
                }

                &-content {
                    font-size: 14px;
                    color: #767676;
                    line-height: 18px;
                }
            } 
        } 

        &-arrowright {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            transition: all ease 0.2s;

            &:hover{
                transform: scale(0.9) translate(6%, -50%);
            }
        }

        &-arrowleft {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%) rotate(-180deg);
            transition: all ease 0.2s;

            &:hover{
                transform: scale(0.9) translate(-6%, -50%) rotate(-180deg);
            }
        }

        &-close {
            position: absolute;
            top: 20px;
            right: 30px;
            transition: all ease 0.4s;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            color: #333;

            &:hover {
                cursor: pointer;
                transform: rotate(90deg);
                color: #980000 !important;
            }
        }

      }

      &-mockup {
          position: absolute;
          bottom: -20%;
          left: 50%;
          transform: translate(-50%,-20%);
          max-width: 100%;
          text-align: center;
          opacity: 0;

          img {
              
              height: auto;
          } 
      }

}

@media all and (max-width: 1280px) {

    .sk-c-WorksPopin {
        &-inside {
            padding: 8% 5% 0 5%;

            &-content {
                &-left, &-right {
                    width: 40%;
                }
            }
        }
    }

}

@media all and (max-width: 1350px) {

    .sk-c-WorksPopin {
        &-inside {
            height: 60%;

            &-content {
                &-left, &-right {
                    &-content {
                        font-size: 12px;
                    }
                }
            }
        }
    }

}

@media all and (max-width: 1200px) {

    .sk-c-WorksPopin {
        &-title {
            top: -8%

        }
    }

}

@media all and (max-width: 1024px) {

    .sk-c-WorksPopin {

        &-inside {
            height: 70%;
        }

        &-title {
            top: -6%

        }
        
    }

}

@media all and (max-width: 980px) {

    .sk-c-WorksPopin {

        &-mockup {

            img {
                max-width: 90%;
            }
            
        }

        &-inside {

            height: 65%;
            &-content {
                flex-direction: column;
                
                &-left, &-right {
                    text-align: center;
                    width: 80%;
                    margin: 0 auto;
                } 

                &-left {
                    margin-bottom: 30px;
                }
            }
        }

        &-title {
            top: -6%;
            font-size: 30px;

        }
        
    }

}

@media all and (max-width: 740px) {

    .sk-c-WorksPopin-inside-content-left-title, .sk-c-WorksPopin-inside-content-right-title {
        font-size: 16px;
    }

    .sk-c-WorksPopin-inside-content-left, .sk-c-WorksPopin-inside-content-right {
        width: 100%;
    }

}

@media all and (max-width: 600px) {

    .sk-c-WorksPopin {
        &-inside {
            padding: 14% 5% 0 5%;

            &-url {
                font-size: 16px;
            }
        }
    }

}

@media all and (max-width: 480px) {

    .sk-c-WorksPopin {
        &-inside {

            &-content {
                &-left, &-right {

                    
                }
            }
        }
    }

}
