.sk-c-Bloc1 {
    margin-top: 100vh;
    background-color: white;
    padding: 6% 5%;
    height: 820px;
    position: relative;
    width: 95%;
    margin-left: auto;
    margin-right: auto;

    h2 {
        font-size: 48px;
        font-weight: 800;
        background: -webkit-linear-gradient(#C20000, #620000);
        background-clip: text;
        -webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
    }

    p {
        font-size: 1rem;
        width: 50%;
        line-height: 25px;
    }

    .imgmockup {
        position: absolute;
        right: 0;
        top: 25%;
        transform: translateY(-25%);
        max-width: 30%;
        z-index: 2;
    }

    &-projects {
      display: flex;
      width: 50%;
      justify-content: space-between;
      position: absolute;
      bottom: 0;
      color: white;
      font-size: 25px;
      left: 10%;
      letter-spacing: 4px;

      &-iconnumber {
        margin-top: 48px;
      }

      p { 
        font-size: 25px;
        width: 100%;
      }

      &-light {
        font-weight: 300;
      }

      &-bold {
        font-weight: bold;
      }

      &-1dream, &-2imagine, &-3create {
        text-align: center;
        width: 30%;
        display: flex;
        flex-direction: column;
      }

    }

    .bkg_page2 {
        position: absolute;
        left:0;
        z-index: 1;
        top: 35%;
        max-width: 100%;
        background-size:cover;

        &-inner {
          max-width: 100%;
          opacity: 0;
        }
    }

    &-stroke {
        width: 110px;
        height: 10px;
        margin: 20px 0px;
        background: linear-gradient(#C20000, #850000);
    } 

    &-button {
        background: linear-gradient(#C20000, #850000);
        color: white;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 15px 20px;
        letter-spacing: 2px;
        font-family: "Poppins";
        border-radius: 7px;
        border: 0px;
        margin-top: 20px;

        &:hover{
            cursor: pointer;
            color: yellow;
        } 
    }

}

@media all and (max-width: 1200px) {

  .sk-c-Bloc1 {

      height: 700px;
      padding: 4% 4%;
  
  }

}

@media all and (max-width: 1100px) {

  .sk-c-Bloc1 {

      height: 670px;

      p {
        font-size: 0.775rem;
        line-height: 22px;
      } 

      &-projects {
        p {
          font-size: 1rem;
        }
      }

  }

}

@media all and (max-width: 1080px) {

    .sk-c-Bloc1 {

        h2 {
            font-size: 45px;
        }
    
        p {
            font-size: 0.875rem;
            width: 70%;
        }
    
    }

}

@media all and (max-width: 1024px) {

  .sk-c-Bloc1 {

      height: 600px;
  
  }

}

@media all and (max-width: 980px) {

  .sk-c-Bloc1 {

      height: 570px;
  
  }

}

@media all and (max-width: 840px) {

    .sk-c-Bloc1 {

        h2 {
            font-size: 35px;
        }

        .bkg_page2 {
            top: 45%;
        }
    
        .imgmockup {
            top: 30%;
        }
    }

}

@media all and (max-width: 767px) {

  .sk-c-Bloc1 {

      height: 530px;

      &-projects {
        &-iconnumber {
          margin-top: 20px;
        }
      }
  }

}

@media all and (max-width: 640px) {

    .sk-c-Bloc1 {

      height: 460px;

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 0.775rem;
            width: 90%;
        }

        .bkg_page2 {
            top: 49%;
        }
    
        .imgmockup {
            top: 35%;
            display: none;
        }

        &-projects {
          left: 50%;
          transform: translate(-50%, -50%);
          width: 80%;
          top: 72%;

          &-iconnumber {
            display: none;
          }
        }
    }

}

@media all and (max-width: 565px) {

    .sk-c-Bloc1 {

        p {
            line-height: 21px
        }

        &-projects {
          width: 95%;
        }

    }

}

@media all and (max-width: 530px) {

  .sk-c-Bloc1 {

      .bkg_page2 {
        top: 55%;
      }

  }

}

@media all and (max-width: 480px) {

    .sk-c-Bloc1 {

        h2 {
            font-size: 24px;
        }

        &-stroke {
            height: 7px;
        }

        p {
            font-size: 0.775rem;
            width: 90%;
        }

        &-button {
            font-size: 12px;
        } 

        .bkg_page2 {
            top: 56%;
        }
    
        .imgmockup {
            top: 37%;
            max-width: 40%;
        }

        &-projects {
          letter-spacing: 2px;
        }
    }

}

@media all and (max-width: 440px) {

  .sk-c-Bloc1 {


      .bkg_page2 {
          top: 62%;
          height: 150px;
      }
  

  }

}

@media all and (max-width: 400px) {

  .sk-c-Bloc1 {


      .bkg_page2 {
          top: 60%;
          
      }
  

  }

}

@keyframes clockwise {
    0% {
      top: -5px;
      left: 0;
    }
    12% {
      top: -2px;
      left: 2px;
    }
    25% {
      top: 0;
      left: 5px;    
    }
    37% {
      top: 2px;
      left: 2px;
    }
    50% {
      top: 5px;
      left: 0;    
    }
    62% {
      top: 2px;
      left: -2px;
    }
    75% {
      top: 0;
      left: -5px;
    }
    87% {
      top: -2px;
      left: -2px;
    }
    100% {
      top: -5px;
      left: 0;    
    }
  }
  
  @keyframes counterclockwise {
    0% {
      top: -5px;
      right: 0;
    }
    12% {
      top: -2px;
      right: 2px;
    }
    25% {
      top: 0;
      right: 5px;    
    }
    37% {
      top: 2px;
      right: 2px;
    }
    50% {
      top: 5px;
      right: 0;    
    }
    62% {
      top: 2px;
      right: -2px;
    }
    75% {
      top: 0;
      right: -5px;
    }
    87% {
      top: -2px;
      right: -2px;
    }
    100% {
      top: -5px;
      right: 0;    
    }
  }