.sk-c-Circle{

    height: 100px;
    background-color: white;
    width: 100px;
    position: absolute;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    z-index: 2;

    p {
        font-size: 17px;
        font-weight: 700;
        background: -webkit-linear-gradient(#C20000, #620000);
        background-clip: text;
        -webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
    } 
    

    &:hover {
        cursor: pointer;
        transform: scale(1.3) translate(-40%);
        
    }  


    &-circleleft{
        
        bottom: -170px;
        left: 25%;
        transform:translate(-50%);

        &:hover {
            cursor: pointer;
        }
    }

    &-circlemiddle{
        bottom: -170px;
        left: 50%;
        transform:translate(-50%);
    }

    &-circleright{
        bottom: -170px;
        left: 75%;
        transform:translate(-50%);
    }

}

@media all and (max-width: 767px) {
    .sk-c-Circle {
        height: 90px;
        width: 90px;

        &-circleleft{
            left: 20%;
        }
    
        &-circleright{
            left: 80%;
        }
    }
}

@media all and (max-width: 640px) {
    .sk-c-Circle {
        height: 90px;
        width: 90px;
    }
}

@media all and (max-width: 480px) {
    .sk-c-Circle {
        height: 80px;
        width: 80px;

        &-circleleft{
            left: 15%;
        }
    
        &-circleright{
            left: 85%;
        }
    }
}