.sk-c-FirstAnimation {
    


    &-animation1 {
        width: 100%;
        height: 100vh;
        position: fixed;
        background-image: linear-gradient(to right top, #c20000, #a90004, #910005, #790003, #620000);
        top: 0;
        left: 0;
        z-index: 31;

        &-logo {
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            max-width: 10%;
            z-index: 32;
            opacity: 0;
            scale: 0;
        }
    }

    &-animation2 {
        width: 100%;
        height: 100vh;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        top: 0vh;
        left: 0;

        img {
            max-width: 20%;
        }
    }
    
}

@media all and (max-width: 640px) {

    .sk-c-FirstAnimation {


        &-animation1 {
    
            &-logo {

                max-width: 30%;
            }
        }

        &-animation2 {
            width: 100%;
            height: 100vh;
            position: fixed;
            background-color: white;
            top: 0vh;
            left: 0;
    
            &-texts {
                font-size: 20px;
            }
        }

    }

} 