.sk-c-Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right top, #c20000, #a90004, #910005, #790003, #620000);
  width: 100%;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;

  &-container {
    color:black;
    font-size: 25px;
    padding: 35px;
    width: 50%;
    border-top-left-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
    background: white;

    &-bgsvg {
      position: absolute;
      max-width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

  
  
    &-logo {
      position: absolute;
      left: 50%;
      max-width: 30%;
      transform: translate(-50%, -90%);
      top: 0;
      height: auto;
    }
  
    h2 {
      font-weight: bold;
      font-size: 26px;
      background: -webkit-linear-gradient(#C20000, #620000);
      background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      margin-bottom: 15px;
      line-height: 30px;
    }
  
    p {
      text-align: center;
      font-size: 1rem;
      color: #676464;
      width: 70%;
      line-height: 1.5;
    }
  }
}

@media all and (max-width: 1350px) {
  .sk-c-Header {
    &-container {
      width: 70%;
    }
  }
}

@media all and (max-width: 980px) {
  .sk-c-Header {
    &-container {
      width: 80%;

      h2 {
        font-size: 22px;
        text-align: center;
      }
    
      p {
        font-size: 14px;
        width: 90%;
      }

    }
  }
}



@media all and (max-width: 640px) {
  .sk-c-Header {
    &-container {

      p {
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 480px) {
  .sk-c-Header {
    &-container {

      h2 {
        font-size: 18px;
      }

      p {
        font-size: 12px;
      }

      &-logo{
        max-width: 50%;
      }


    }

    
  }
}
