.sk-c-Stroke{

    height: 0;
    background-color: white;
    width: 10px;
    position: absolute;
    transition: all 0.4s ease;

    &-strokeleft{
        
        bottom: -100px;
        left: 25%;
        transform:translate(-25%);
    }

    &-strokemiddle{
        bottom: -100px;
        left: 50%;
        transform:translate(-50%);
    }

    &-strokeright{
        bottom: -100px;
        left: 75%;
        transform:translate(-75%);
    }

}

@media all and (max-width: 767px) {
    .sk-c-Stroke {

        &-strokeleft{
            left: 20%;
        }
    
        &-strokeright{
            left: 80%;
        }
    }
}


@media all and (max-width: 480px) {
    .sk-c-Stroke {

        &-strokeleft{
            left: 15%;
        }
    
        &-strokeright{
            left: 85%;
        }
    }
}