.sk-c-Bloc2 {
    background-color: white;
    width: 95%;
    margin: 0 auto;
    padding: 0px 60px 60px 0px;
    display: flex;

    &-mockup {
        margin-right: 8%;
    }

    &-content {
        max-width: 70%;


        &-container {
            display: flex;
            justify-content: space-between;
            width: 90%;
            

        }

        &-title {
            background: -webkit-linear-gradient(#C20000, #620000);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            letter-spacing: 1.8px;
            margin-bottom: 80px;
            font-weight: 800;
            font-size: 23px;
            text-align: left;

            h1 {
                background: -webkit-linear-gradient(#C20000, #620000);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 35px;
            }
    
        }

        &-block {

            width: 45%;
            
            line-height: 1.3;

            &-title {
                background: -webkit-linear-gradient(#C20000, #620000);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: bold;
                margin-bottom: 10px;
                letter-spacing: 2px;
            }

            &-text {
                color: #303030;
                font-size: 14px;

            }

            &-languages {
                margin-top: 20px;
                letter-spacing: 2px;
                font-weight: 300;
                color: #747474;
                font-size: 13px;
            }
        }



    }
}

@media all and (max-width: 1200px) {
    .sk-c-Bloc2 {
        &-content {
            &-title {
                margin-bottom: 40px;

                h2 {
                    font-size: 18px;
                }

                h1 {
                    font-size: 28px;
                }
            }

            &-container {
                width: 100%;
            }

            &-block {
                width: 48%;
            }
        }

        &-mockup {
            margin-right: 5%;
            max-width: 30%;

            img { 
                max-width: 100%;
            }
        }
    }
}

@media all and (max-width: 980px) {
    .sk-c-Bloc2 {
        &-content {
            &-title {
                margin-bottom: 40px;

                h2 {
                    font-size: 16px;
                }

                h1 {
                    font-size: 23px;
                }
            }

            &-block {
                &-title {
                    font-size: 14px;
                }

                &-text {
                    font-size: 12px;
                }

                &-languages {
                    font-size: 11px;
                }
            }

        }
    }
}

@media all and (max-width: 767px) {
    .sk-c-Bloc2 {
        &-content {
            &-title {
                margin-bottom: 30px;

                h2 {
                    font-size: 14px;
                }

                h1 {
                    font-size: 18px;
                }
            }

            &-container {
                flex-direction: column;
            }

            &-block {
                width:100%;
                margin-bottom: 20px;
                &-title {
                    font-size: 13px;
                }

                &-text {
                    font-size: 12px;
                }

                &-languages {
                    font-size: 11px;
                    margin-top: 5px;
                }
            }

        }
    }
}

@media all and (max-width: 640px) {
    .sk-c-Bloc2 {
        padding: 0px 0px 60px 0px;
        &-mockup {
            display: none;
        }

        &-content {
            margin:  0 auto;
            max-width: 90%;
        }
    }
}