.sk-c-Single {
    

    &-header {
        color: white;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-size: cover;
        position: relative;
        background-position: center;

        &-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to right top, #c20000, #a90004, #910005, #790003, #620000);
            opacity: 0.94;
        }

        &-content {

            width: 100%;
            text-align: center;
            margin: 0 auto;
            position: relative;

            &-title {
                font-size: 80px;
                font-weight: 800;
                margin-bottom: 20px;
                z-index: 4;
                position: relative;
    
                &-opaque {
                    font-size: 90px;
                    z-index: 3;
                    position: absolute;
                    opacity: 0.13;
                    font-weight: 800;
                    top: 25% !important;
                    width: 100%;
                    text-align: center;
                }
            }

        }
        

        p {
            font-size: 30px;
            font-weight: 300;
        }
        
        
    }

    &-content {
        background-image: linear-gradient(to right top, #c20000, #a90004, #910005, #790003, #620000);
        width: 100;
        position: relative;
        padding: 6% 8%;
        height: 810px;

        &-inner {
            width: 100%;
            height: 100%;
            position: relative;
            background-size: cover;
            background-position: center;

            &-arrowLeft {
                position: absolute;
                left: -40px;
                top: 50%;
                transform: translateY(-50%);
                transition: all 0.2s ease;

                &:hover{
                    left: -50px;
                    cursor: pointer;
                }
            }

            &-arrowRight{
                position: absolute;
                right: -40px;
                top: 50%;
                transform: translateY(-50%) rotate(180deg);

                transition: all 0.2s ease;

                &:hover{
                    right: -50px;
                    cursor: pointer;
                }
            }


            &-fakeDiv {
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.92);
                padding: 4% 7% 0% 7%;

            }

            

            &-top {
                font-weight: bold;
                color: #980000;
                font-size: 22px;
                margin-bottom: 40px;
                z-index: 2;


                &-tags {
                    
                    margin-top: 20px;

                    ul {
                        text-align: left;
                        display: inline-block;
                    }

                    li {
                        display: inline-block;
                        color: white;
                        background-image: linear-gradient(to right top, #c20000, #a90004, #910005, #790003, #620000);
                        font-size: 14px;
                        font-weight: 500;
                        padding: 7px 12px;
                    }

                    span {
                        display: inline-block;
                        background-image: linear-gradient(to right top, #6B6B6B, #D7D7D7);
                        font-size: 14px;
                        font-weight: 500;
                        padding: 7px 12px;
                        color: white;

                    }
                }
            }

            &-middle {

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &-top {

                    display: flex;
                    width: 100%;
                    justify-content: space-between;

                    &-left, &-right {

                        h2 {
                            font-weight: bold;
                            margin-bottom: 10px;
                            font-size: 19px;
                        }
    
                        p, ul {
                            color: #767676;
                            letter-spacing: 1.7;
                            line-height: 18px;
                            font-weight: 300;
                        }
    
                        width: 40%;
                    }

                }

                &-bottom {
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    margin-top: 10%;

                }

                
            }
            

        }
    }
}

@media all and (max-width: 1080px) {
    .sk-c-Single {
        &-content {
            &-inner {
                &-top {
                    p {
                        font-size: 18px;
                        line-height: 22px;
                    }
                }

                &-middle {
                    &-top {
                        &-left, &-right {
                            h2 {
                                font-size: 16px;
                            }

                            ul, p {
                                font-size: 14px;
                            } 
                        }
                    }

                    &-bottom {
                        img {
                            max-width: 60%;
                        }
                    }
                }
            }
        }
    }
}


@media all and (max-width: 980px) {
    .sk-c-Single {
        
        &-header {
            &-content {
                &-title {
                    font-size: 70px;

                    &-opaque {
                        font-size: 80px;
                    }
                }
            }
        }

        &-content {
            height: 700px;
            &-inner {
                &-top {
                    p {
                       
                    }
                }

                &-middle {
                    &-top {
                        &-left, &-right {
                            width: 45%;
                        }
                    }

                    &-bottom {
                        img {
                            
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 767px) {
    .sk-c-Single {
        &-content {
            &-inner {
                &-top {
                    p {
                       
                    }
                }

                &-middle {
                    &-top {
                        flex-direction: column;
                        &-left, &-right {
                            width: 100%;
                            text-align: center;
                        }

                        &-left {
                            margin-bottom: 30px;
                        }
                    }

                    &-bottom {
                        img {
                            
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 640px) {
    .sk-c-Single {
        &-content {
            &-inner {
                &-fakeDiv {
                    padding: 6% 8% 0% 8%
                }

                &-top {
                    text-align: center;
                    &-tags {

                        li, span{
                            font-size: 12px;
                        }
                        
                    }

                }

                &-middle {
                    &-top {
                        &-left, &-right {
                            ul, p {
                                font-size: 12px;
                            }
                        }
                    }

                    &-bottom {
                        margin-top: 15%;
                    }
                }
            }
        }
        &-header {
            &-content {
                &-title {
                    font-size: 60px;

                    &-opaque {
                        font-size: 70px;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 480px) {
    .sk-c-Single {

        &-content {
            padding: 6% 5%;
            &-inner {

                &-arrowLeft, &-arrowRight {
                    display: none;
                }
                &-fakeDiv {
                        padding: 6% 5% 0% 5%;
                }
                &-top {
                    &-tags {
                        span {
                            display: block;
                            margin: 10px auto 0 auto;
                            max-width: 40%;

                        }
                    }
                }

                &-middle {
                    &-bottom {
                        img {
                            max-width: 70%;
                        }
                    }
                }
            }
        }
        &-header {
            &-content {
                &-title {
                    font-size: 40px;

                    &-opaque {
                        font-size: 43px;
                    }
                }
            }
        }
    }
}